body{
    background-color: black;
}
.heart {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 100px;
    background: blue;
    animation: pulse 1s infinite alternate;
  }
  
  .square {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    background: blue;
  }
  
  .top {
    top: 100px;
  }
  
  .left {
    left: 100px;
  }
  
  p{
      color:whitesmoke;
      z-index: 1000;
      position: relative;
      top:-282px;
      font-size: 30px;
      margin-left:100px;
      width: 225px;
  }
  @keyframes pulse {
    0%   {transform: scale(0.9) rotate(-145deg);}
    100% {transform: scale(1.1) rotate(-125deg);}
  }
